@page "/"
@using Microsoft.AspNetCore.Components

<h1>Welcome to BlazorTodo!</h1>

<p>This is a simple ToDo app built with Blazor WebAssembly and an API.</p>

<!-- Button to navigate to the ToDo List page -->
<a href="/todo" class="btn btn-primary mt-3">Go to ToDo List</a>